body, input {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation-module {
  width: 50vw;
  height: 50vh;
  margin: 15vh auto;
  padding: 5%;
  border: 2px solid grey ;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: auto;
}

input, button{
  margin: 10px;

}

label {
  margin-left: 10px;
}

button {
  min-height: 25px;
}